<!DOCTYPE html>
<html lang="en" layout:decorate="~{mainForm}">
<head>
    <meta charset="UTF-8">
    <title>log_update</title>
    <style>
        .tag-container {
            max-height: 200px;
            overflow-y: scroll;
        }
        .selected-tag-container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 10px;
        }
        .selected-tag {
            background-color: #e5e7eb;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    </style>
    <script src="/tagScript.js"></script> <!-- 외부 스크립트 파일 참조 -->
</head>
<body>
<div layout:fragment="content" class="flex justify-center pt-24">
    <div class="bg-indigo-200 w-[90%] h-[700px] mx-auto p-4 rounded-lg flex">
        <div class="w-[70%]">
            <div>
                <input type="hidden" name="id" th:value="${log.id}">
            </div>
            <div>
                <input type="text" name="title" placeholder="제목을 작성해주세요" class="input input-bordered w-full max-w-xs" th:value="${log.title}" required>
            </div>
            <input type="hidden" name="content" id="editor-body">
            <div id="editor" th:data-initial-value="${log.content}"></div>
        </div>
        <div class="w-[30%] p-4">
            <h3>카테고리 설정</h3>
            <div>
                <select name="categoryId" class="select select-bordered w-full max-w-xs">
                    <option value="" disabled selected>카테고리를 선택하세요</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:selected="${category.id == log.category.id}" th:text="${category.name}"></option>
                </select>
                <a th:href="@{'/categories/create?redirectUrl=/logs/update/' + ${log.id}}" class="btn btn-outline btn-secondary mt-2">카테고리 생성</a>
            </div>
            <div class="mt-4">
                <h3>태그 설정</h3>
                <div class="tag-container">
                    <div th:each="tag : ${tags}" class="form-control flex justify-between">
                        <label class="label cursor-pointer">
                            <span class="label-text" th:text="${tag.name}"></span>
                            <input type="checkbox" name="tagIds" th:value="${tag.id}" th:checked="${#lists.contains(log.tags, tag)}" class="checkbox" onchange="toggleTag(this)" />
                        </label>
                    </div>
                </div>
                <div class="flex items-center mt-2">
                    <button type="button" class="btn btn-outline btn-secondary" onclick="document.getElementById('tagModal').showModal()">태그 생성</button>
                    <button type="button" class="btn btn-outline btn-danger ml-2" onclick="clearSelectedTags()">태그 삭제</button>
                </div>
                <div class="selected-tag-container" id="selected-tags">
                    <div th:each="tag : ${log.tags}" class="selected-tag" th:data-tag-id="${tag.id}">
                        <span th:text="${tag.name}"></span>
                        <button type="button" onclick="removeTag(this)">x</button>
                    </div>
                </div>
            </div>
        </div>
        <button id="updating" type="submit" class="btn btn-outline btn-primary mt-4">수정</button>
    </div>
</div>
</body>
</html>
