<!DOCTYPE html>
<html lang="en" layout:decorate="~{MainForm}">
<head>
    <meta charset="UTF-8">
    <title>log_write</title>
</head>
<body>
<form layout:fragment="content" class="flex justify-center pt-24" method="post" action="/write" >
    <div class="bg-indigo-200 w-[90%] h-[700px] mx-auto p-4 rounded-lg">
        <!-- 내용 -->
<!--        <h5 class="">게시물 작성</h5>-->
        <div>
            <input type="hidden" name="id">
        </div>
        <div class="">
<!--            <label for="title">제목:</label>-->
            <input type="text" id="title" name="title" placeholder="제목을 작성해주세요" class="input input-bordered w-full max-w-xs" required>
        </div>
        <input type="hidden" name="content" id="editor-body">
        <div id="editor"></div>
        <button id="regbtn" type="submit" class="btn btn-outline btn-primary">등록하기</button>
    </div>

    <script th:inline="javascript">
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'markdown',
            previewStyle: 'vertical'
        });

        document.querySelector('#regbtn').addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector('#editor-body').value = editor.getMarkdown();
            e.target.form.submit();
        });
    </script>

</form>
</body>
</html>
