<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Blog</title>
    <!-- Background.css start -->
    <link rel="stylesheet" type="text/css" th:href="@{/BackGround.css}">
    <!-- Background.css end -->
</head>
<body>
<div th:replace="~{BackGround :: BackGroundF}"></div>
<nav th:replace="~{NavBar :: NavBarF}"></nav>
<!--<div class="bg-red-300 w-1/5 h-96">-->
<!--</div>-->

<!--<div>-->
<!--    <input type="hidden" name="id" th:value="${targetLog.id}">-->
<!--</div>-->
<!--<div>-->
<!--    <input type="text" name="title" th:value="${targetLog.title}">-->
<!--</div>-->
<!--<div>-->
<!--    <textarea name="content" cols="30" rows="10" th:text="${targetLog.content}"></textarea>-->
<!--</div>-->

<!--<div class="bg-green-300 w-[60%]">-->
<!--    <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/update|}" method="post" id="updateForm">-->
<!--        <div>-->
<!--            <input type="hidden" name="id" th:value="${targetNote.id}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <input type="text" name="title" th:value="${targetNote.title}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <textarea name="content" cols="30" rows="10" th:text="${targetNote.content}"></textarea>-->
<!--        </div>-->
<!--        <div>-->
<!--            <input type="button" value="수정" onclick="updateForm()">-->
<!--        </div>-->
<!--    </form>-->
<!--    <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/delete|}" method="post" id="deleteForm">-->
<!--        <input type="button" value="삭제" onclick="deleteForm();">-->
<!--    </form>-->
<!--</div>-->

</body>
</html>