<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <meta charset="UTF-8">
    <title>Blog</title>
    <!-- Background.css start -->
    <link rel="stylesheet" type="text/css" th:href="@{/BackGround.css}">
    <!-- Background.css end -->
    <!-- Fixed_Navbar.css start -->
    <link rel="stylesheet" type="text/css" th:href="@{/Fixed_Navbar.css}">
    <!-- Fixed_Navbar.css end -->
</head>
<body>
<!-- Main Start -->
<div th:replace="~{BackGround :: BackGroundF}"></div>
<nav th:replace="~{NavBar :: NavBarF}"></nav>
<!-- Main End -->
<!-- Content Start -->
<th:block layout:fragment="content"></th:block>
<!-- Content End -->

</body>
</html>