<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Blog</title>
    <!-- Background.css start -->
    <link rel="stylesheet" type="text/css" th:href="@{/BackGround.css}">
    <!-- Background.css end -->
</head>
<body>
<div th:replace="~{BackGround :: BackGroundF}"></div>
<nav th:replace="~{NavBar :: NavBarF}"></nav>

<div>
    <a th:href="@{/write}" class="btn btn-outline btn-primary">게시글 등록하기</a>
</div>

<form class="flex justify-center pt-48" method="post" action="/write">
    <div class="bg-indigo-200 w-[75%] h-[400px] pt-4">
        <!-- 내용 -->
        <h5 class="">게시물 작성</h5>
        <div>
            <input type="hidden" name="id">
        </div>
        <div class="flex justify-center">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" placeholder="제목을 작성해주세요" class="input input-bordered w-full max-w-xs" required>
        </div>
        <div class="flex justify-center">
            <label for="content">내용:</label>
            <textarea id="content" name="content" cols="30" rows="10" placeholder="내용을 작성해주세요" class="textarea textarea-bordered textarea-lg w-full max-w-xs" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline btn-primary">등록하기</button>
    </div>
</form>


<!--<div class="bg-green-300 w-[60%]">-->
<!--    <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/update|}" method="post" id="updateForm">-->
<!--        <div>-->
<!--            <input type="hidden" name="id" th:value="${targetNote.id}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <input type="text" name="title" th:value="${targetNote.title}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <textarea name="content" cols="30" rows="10" th:text="${targetNote.content}"></textarea>-->
<!--        </div>-->
<!--        <div>-->
<!--            <input type="button" value="수정" onclick="updateForm()">-->
<!--        </div>-->
<!--    </form>-->
<!--    <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/delete|}" method="post" id="deleteForm">-->
<!--        <input type="button" value="삭제" onclick="deleteForm();">-->
<!--    </form>-->
<!--</div>-->

</body>
</html>